@page
@model Zoogle.Pages.OldSearchModel
@{
}

<div class="text-center">
    <p>We don't use this search anymore!</p>
</div>

<div>
    <form method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter an animal's common name" aria-label="Animal common name" aria-describedby="button-addon2">
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="POST">
            </div>
        </div>
    </form>
</div>